.banner {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(../images/banner-img4.png);
  background-position: 10% 38%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner__content {
  padding: 1rem;

  background-color: #0d0d0d;
  border-radius: 5px;
}

.banner__content > h2 {
  color: #01bf71;
  font-size: 2rem;
  font-weight: 500;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  .banner {
    background-position: center;
  }

  .banner__content > h2 {
    color: #01bf71;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
