.footer {
  width: 100%;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.footer > h1,
p {
  color: black;
}

.footer > a > p {
  cursor: pointer;
}
