.item {
  position: relative;

  max-width: 300px;
  min-width: 300px;
  min-height: 200px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: center;

  border-radius: 5px;
}

.item__text > p {
  color: #fff;
  background-color: #0d0d0d;
}

.item__price {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;

  width: 60px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: #0d0d0d;
  border-radius: 5px;
}

.item__price > p {
  color: #fff;
}

.item__interact {
  position: absolute;

  right: 0.5rem;
  bottom: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  vertical-align: middle;
  text-align: center;

  background-color: #0d0d0d;
  border-radius: 5px;
}

.item__interact > .MuiSvgIcon-root {
  font-size: 35px;
  fill: #01bf71 !important;
  cursor: pointer;
  z-index: 100;

  transition: all 0.2s ease;
}

.item__interact > .MuiSvgIcon-root:hover {
  transform: scale(1.1);
}

.item__slide {
  position: absolute;
  bottom: -101%;

  max-width: 300px;
  min-width: 300px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: #0d0d0d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 107;
}

.item__slide > .item__slide__info {
  width: 100%;

  display: flex;
  justify-content: center;
}

.item__slide > .item__slide__info > p {
  width: 90%;

  color: #fff;
}

.item__slide > form {
  width: 100%;
  max-height: 30%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item__slide > form > .MuiButton-root {
  background-color: #01bf71;
}

.item__slide > form > select,
option {
  color: #000;
}
